<!DOCTYPE html>
<html lang="en">
<head>
  @@include('./../includes/meta.html')
</head>
<body>

  <div id="map" style="width: 100%; height: 100vh"></div>
  <div class="shadow"></div>
  <div class="preloader"></div>
  <div class="content">
    <h2 class="content__name"></h2>
    <p class="content__address"></p>
    <p class="content__phone"></p>
    <p class="content__hours"></p>
  </div>

  <script src="https://api-maps.yandex.ru/2.1/?apikey=802d4e86-617e-40c5-b1b8-14fe851a450b&lang=ru_RU"
  type="text/javascript"></script>
  <script src="js/vendors.js"></script>
  <script src="js/bundle.js"></script>
</body>
</html>
